################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend

/Backend/Backend/bin

/Backend/Backend/obj

!Backend/Backend/Controllers

!Backend/Backend/Dtos

!Backend/Backend/Program.cs
