################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend

/Backend/Backend/bin

/Backend/Backend/obj

/Backend/Backend.Infraestructure/bin

/Backend/Backend.Infraestructure/obj

!Backend/Backend.Infraestructure/Controllers

!Backend/Backend/Dtos

!Backend/Backend/Implementations

!Backend/Backend/Program.cs

!Backend/Backend.Infraestructure/Implementations

!Backend/Backend.Infraestructure/Interfaces

!Backend/Backend.Infraestructure/Objects

